*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --app-font: "Montserrat", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #ffffff;
  color: #e2e8f0;
}

html,
body,
#app,
button,
input,
select,
textarea {
  font-family: var(--app-font) !important;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
